@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffbf0;
  flex-wrap: wrap;
  padding: 0px 50px 0px 80px;
  height: 80px;
}
.nav-img img {
  width: 100%;
  height: auto;
}
.bar {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
.nav-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
li a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}
li {
  list-style: none;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 5px;
}
li:hover,
li a:hover {
  background-color: brown;
  color: white;
}

/* responsive nav for max992px */
@media screen and (max-width: 992px) {
  #click:checked ~ ul {
    left: 0;
  }
  nav {
    padding: 0px 20px 0px 20px;
    height: 80px;
  }
  .nav-items {
    position: fixed;
    top: 80px;
    left: -100%;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
  }
  li:hover,
  li a:hover {
    background-color: #fffbf0;
    color: red;
  }
  .bar {
    display: block;
  }
}
